@use "../theme" as theme;

main {
  margin-top:24px;
  scroll-padding: 0 24px 64px;
  padding: 0 24px 64px;

  header {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;

    h3 {
      letter-spacing: 1px;
    }

    section.links {
      display: flex;
      justify-content: space-evenly;
      width: 400px;

      @media (screen <= theme.$small-screen) {
        margin: 8px 0;
        padding: 8px 0;
      }
    }

  }

  section {
    width: 100%;
  }
}
