<aside i18n="instructions | quiz instructions" class="instructions">
  Hi and thanks for your interest in learning english. We're looking forward to meeting and getting to know you! To
  know how best to help you, we'd like to first ask you a few questions about how well you know English. This quiz
  is designed to help us understand how well you understand english. It will start completely in English and if you
  do well, get progressively harder. Please do utilize a friend or online resources. It may hinder our ability to help
  you learn. When you ready, hit next!
</aside>
