<fieldset class="personal">
  <div>
    <label i18n="name | students name">Name</label>
    <input i18n="namePlaceholder | students name input placeholder" placeholder="Edwardo Castillo" type="text" formControlName="name" />
  </div>
  <section formGroupName="contact">
    <div>
      <label i18n="email | email input label">Email</label>
      <input i18n="emailPlaceholder | students email placeholder" placeholder="ayudame@gmail.com" type="text" formControlName="email" />
    </div>

    <div>
      <label i18n="phone | phone number input label">Phone</label>
      <input i18n="phonePlaceholder | students phone number placeholder" placeholder="999-867-5309" type="text" formControlName="phone" />
    </div>
  </section>
  <div>
    <label i18n="location | students residence">Town</label>
    <input i18n="locationPlaceholder" placeholder="Mebane" type="text" formControlName="location" />
  </div>
</fieldset>
