<div>
  <div class="table-title">
    <mat-icon (click)="previousCalendar()" [class]="{'disabled': !hasPrevious}">chevron_left</mat-icon>
    <h3> {{ currentCalendar.semester | titlecase }} </h3>
    <mat-icon (click)="nextCalendar()" [class]="{'disabled': !hasNext}">chevron_right</mat-icon>
  </div>
  <table aria-label="Elements">
    <thead>
    <tr>
      @for (day of calenderIds; track day) {
        <th>{{ day.displayText | titlecase }}</th>
      }
    </tr>
    </thead>
    <tbody>
      @for (week of currentCalendar; track week.id; let weekIndex = $index; ) {
        <tr>
          @for (id of calenderIds; track id.key; let dayIndex = $index; ) {
            @if (week[id.key]) {
              <td
                [class]="{
                  'weekend': id.key === 'sun' || id.key === 'mon',
                  'has-events': week[id.key]?.events?.length || false,
                  'first': ( week[id.key]?.number === '1') && id.key !== 'sun',
                  'during': week[id.key]?.during
                }"
              >
                @if (week[id.key]?.today) {
                  <div class="today-overlay"></div>
                }
                <div class="calendar-content">
                  <aside class="day">
                    @if (week[id.key]?.number === "1" || week[id.key]?.start) {
                      <strong>{{ week[id.key]?.date?.format("MMM") }}</strong>
                    }
                    {{ week[id.key]?.number }}
                  </aside>
                  <section class="events">
                    @for (event of week[id.key]?.events; track event.id) {
                      @if (eventTypeTranslationsMap.get(event.type)) {
                        <esl-calendar-event [eventType]="event.type"></esl-calendar-event>
                      }
                    }
                  </section>
                </div>
              </td>
            } @else {
              <td class="empty-calendar-cell"></td>
            }
          }
        </tr>
      }
    </tbody>
  </table>
  <section class="legend">
    @for (eventType of eventTypeTranslationsMap.keys(); track eventType) {
      <aside class="key">
        <esl-calendar-event [eventType]="eventType"></esl-calendar-event>
        <span>{{ eventTypeTranslationsMap.get(eventType) | titlecase }}</span>
      </aside>
    }
  </section>
</div>
