<section>
  <esl-content i18n-sectionTitle="announcements" sectionTitle="Announcements">
    <ng-container>
      <ng-container i18n>
        ESL Fall 2024 will be starting soon! The first class starts on <strong>{{ startDay }}</strong>. See the
        schedule below!
      </ng-container>
    </ng-container>
  </esl-content>
  <esl-content i18n-sectionTitle="aboutesl" sectionTitle="About ESL">
    <ng-container i18n>
      ESL stands for "English as a Second Language." The primary purpose of ESL is to learn English. We teach on
      Tuesdays to help improve your confidence in communicating with people that speak english.
    </ng-container>
  </esl-content>
  <esl-content i18n-sectionTitle="schedule" sectionTitle="schedule">
    <esl-calendar></esl-calendar>
  </esl-content>
</section>

