<section>
  <mat-tab-group>
    <mat-tab label="Classes">
      <esl-content sectionTitle="Announcements">
        ESL Fall 2024 will be starting soon! The first class starts on September 10th. See the schedule below!
      </esl-content>
      <esl-content sectionTitle="About ESL">
        ESL stands for "English as a Second Language." The primary purpose of ESL is to learn English. We teach on
        Tuesdays to help improve your confidence in communicating with people that speak english.
      </esl-content>
      <esl-content sectionTitle="schedule">
        <esl-calendar></esl-calendar>
      </esl-content>
    </mat-tab>
    <mat-tab label="Continued Learning">
      <esl-content sectionTitle="Resources">
        How much would could a wood chuck chuck if a wood chuck could chuck wood?
      </esl-content>
    </mat-tab>
    <!--<mat-tab label="Signup">

    </mat-tab>-->
  </mat-tab-group>
</section>

